<div class="container">
  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <button type="button" name="button"><%= link_to 'Show', @blog %></button> |
  <button type="button" name="button"><%= link_to 'Back', blogs_path %></button>
</div>
