<div class="container">
  <h1>New Blog</h1>

  <div class="new-blog">
    <%= render 'form', blog: @blog %>
  </div>

  <button type="button" name="button"><%= link_to 'Back', blogs_path %></button>

</div>
