<div class="container">
  <h2>Brilliant Babies</h2>
  <p>There is a great mind in your house and -- no disrespect to you or your spouse -- it belongs to the family member wearing the one-piece and sucking on her toes. Babies have long had a reputation as little sponges, soaking up information from the world around them. But that's only part of the story. Researchers are discovering that your little one possesses a formidable skill set and, in some cases, can pull off astonishing feats. Here are the six abilities that we think are anything but infantile.</p>
  <hr>

  <h2><img class="img-rounded" src="<%= asset_path ('emotion.jpg') %>"/>Your baby can: Sense Emotions</h2>

  <p>Infants are sensitive to emotion. "By the time newborns are just a few months old, they recognize the difference between a happy expression and a sad one," says Alison Gopnik, Ph.D., author of The Philosophical Baby. Around her first birthday, a child can even sense how other people feel. In a recent study at the University of California at Berkeley, researchers placed two closed boxes in front of 14-month-old subjects. The kids watched as an adult peered into one box and displayed pleasure, then peeked into another and seemed disgusted. Then she offered the babies a choice between the two boxes. Most chose the "happy" box.
  <p>
  <strong>What's so surprising: </strong>Your child isn't just aware of your feelings; she actively cares about them. In a recent study, researchers had 18-month-olds watch as they dropped a clothespin and tried to retrieve it, then threw it down firmly as if they didn't want it. When the object slipped out of the adult's hand, the babies would crawl to retrieve it, an early sign of empathy.
  </p>
  <p>
  <strong>Tap her talent: </strong>Display your feelings. Whether you're gently patting the dog or enthusiastically greeting a neighbor, your child is watching. "What you say to babies is less important than how you say it," says Dr. Gopnik. But don't expect to fool your child by saying "Yum" as you put strained spinach to your lips: Babies can often tell when you're faking it.
  </p>
  <p>
  <strong>Milestone: </strong>At birth, Baby can identify you by smell and imitate facial expressions. Stick out your tongue and she'll do the same! By three months, she understands your role in her life as mother.</p>
  </p>
  <hr>

  <h2>Your baby can: Talk With His Hands</h2>
  <p>Infants are eager to learn sign language before they begin to speak. And the benefits are huge: "Signing enables a baby to tell you what he's seeing and hearing -- a plane overhead, a dog barking outside," says Parents advisor Linda Acredolo, Ph.D., coauthor of Baby Signs.
  <p>
  <strong>What's so surprising: </strong>The process of learning to sign creates pathways in the brain that help your child pick up any language more easily later in life, notes Fosca Shackleton White, director of the Montessori Academy of Chicago. Plus, babies who use sign language before they can speak learn to talk earlier, score higher on intelligence tests, develop a larger vocabulary, and display more self-confidence compared to their non-signing peers.
  </p>
  <p>
  <strong>Tap his talent: </strong>Give your child's communication skills a head start by introducing signing as soon as he's born. Start with these five basics: "eat," "drink," "wet," "sleep," and "more." Use them whenever you say the corresponding word out loud, then slowly expand his vocabulary over time.
  </p>
  <p>
  <strong>Milestone: </strong>By 9 months, Baby can predict the emphasis of words and phrases in his own language. At one year, baby figures out what to do with objects by watching other people use them (a good time to start having him practice more complicated signing!)</p>
  </p>
  <hr>

  <h2>Your baby can: Master Math</h2>
  <p>Babies have a basic sense of subtraction. A study performed at Ben-Gurion University of the Negev had 6-to-9-month-olds watch a puppet show with two characters. Researchers then removed one puppet and closed the curtain; when it reopened, the same puppet remained. Then they repeated the experiment and changed the ending: two puppets appeared when the curtain reopened. The babies' prolonged stares indicated they understood that two minus one doesn't equal two.
  <p>
  <strong>What's so surprising: </strong>Babies also seem capable of solving problems using scientific logic. In a 2008 University of British Columbia study, 8-month-olds were shown two boxes: One had lots of red balls and a few white ones; the other had mostly white balls and only a few red. Researchers pulled five balls from each box (one red and four white in each case), showed them to the kids, and then let them peek into the boxes. The result: The children stared longer at the box containing mostly red balls, recognizing that the mostly white balls that came out of it was a statistical mismatch. "That's very sophisticated reasoning for a baby," says Dr. Gopnik.
  </p>
  <p>
  <strong>Tap her talent: </strong>Research shows that your child can learn about math and science best through daily exploration. Provide toys that encourage creativity, like building blocks, boxes with lids, or bowls, try discovery games, such as hiding and revealing an object, and encourage your baby to observe.
  </p>
  <p>
  <strong>Milestone: </strong>By 2 months, Baby understands that his actions impact the world around him. She cries, and you appear. By 18 months, he sees others have contrasting preferences. ("Grandma likes asparagus, even though I don't.")</p>
  </p>
  <hr>

  <h2>Your baby can: Speak French</h2>
  <p>Your infant possesses the innate ability to learn a second language. That's great news: Studies show that being multi-lingual encourages flexible thinking, enhances memory, and boosts a child's concentration.
  <p>
  <strong>What's so surprising: </strong>Traditionally, experts have suggested waiting until age 3 to introduce a second language. But a 2009 study conducted at Italy's International School for Advanced Studies showed that bilingual babies have vocabularies in each language (about 50 words at 18 months) that are comparable to those of babies who are learning only one.
  </p>
  <p>
  <strong>Tap his talent: </strong>If you or your spouse speaks a second language, use it around your child regularly. Experts believe a baby needs to be exposed to a language at least 30 percent of the time to pick it up. Even if (like most Americans) you know only English, see whether a caregiver, a close friend, or a relative can work on French or Spanish with him. Don't waste your money on a foreign-language disc, though. "The best way for your child to learn a second language is by hearing people around him use it," says Dr. Mattock.
  </p>
  <p>
  <strong>Milestone: </strong>At 6 months, Baby will make sounds intending to show his pleasure or displeasure.</p>
  </p>
  <hr>

  <h2>Your baby can: Recognize Faces</h2>
  <p>Within a week after birth, your infant already recognizes your face, useful since she depends on you for everything. And before long she'll be a face-recognition expert. Research performed at The University of Sheffield in England showed that 6-month-olds are far more gifted than adults at picking out individual faces among a group of people.
  <p>
  <strong>What's so surprising: </strong>A child's ability to pinpoint facial features typically starts to wane around 9 months. But some experts believe it doesn't have to. "Continued exposure to faces from diverse ethnic groups may extend the ability into adulthood," says Olivier Pascalis, Ph.D., a researcher at Université Pierre Mendès France, in Grenoble.
  </p>
  <p>
  <strong>Tap her talent: </strong>If your own social circle doesn't provide broad enough exposure, try flipping through books (Baby Faces, by Margaret Miller, is a good choice) or cutting out images of varied cultures from catalogs and magazines. Helping maintain this skill will encourage your baby to become more accepting of other ethnicities as she grows.
  </p>
  <p>
  <strong>Milestone: </strong>Your baby will develop theories to make sense of the world at 15 months. For example: "If Mommy brings in flowers from the garden but not grass, she must prefer the flowers."</p>
  </p>
  <hr>


  <h2>Your baby can: Respond to Music</h2>
  <p>Your baby was born to boogie. A study published in Science revealed that 3-month-olds could distinguish between one type of rhythm and another. And recent research shows that babies respond to the rhythm of music by moving their arms and body.
  <p>
  <strong>What's so surprising: </strong>Moms instinctively rock infants to the beat while singing a song. Scientists think this is a crucial way babies learn about rhythm.
  </p>
  <p>
  <strong>Tap his talent: </strong>Expose your child to a wide range of musical genres. If you're listening to a CD, sing along and look into his eyes. "A child responds to music most when he's sharing the experience," observes Miriam Flaherty-Willis, senior director of education at the Wolf Trap Foundation for the Performing Arts, in Vienna, Virginia. Use rhythm to help him learn other things too: You can make up your own lyrics or melody for teaching body parts.
  </p>
  <p>
  <strong>Milestone: </strong>Baby can recognize your voice around 1 to 3 weeks.</p>
  </p>

</div>
