<div class="container">
  <h1>Fun activities to promote speaking skills</h1>
  <p>Do you sometimes have trouble understanding what your preschooler says? You can help her hone her speaking skills by becoming an active listener.</p>
  <p>This means not just hearing what your child says but getting involved in real conversations with her: Ask questions, make comments, keep the chat going, and give her plenty of opportunities to speak her mind.</p>
  <p>Here are some games and activities you can use to get the ball rolling. Because children learn in different ways, the games are organized by learning style. But don't feel restricted to just one group—all children can benefit from the activities listed.</p>
  <hr>


  <h3>For auditory learners</h3>
  <strong>  Talk to your child whenever you're together. </strong>
  <p>Tell her about an interesting story you read in the newspaper. Describe a conversation you had at work with a friend. When you go shopping together, describe what you're buying.</p>
  <p>Get in the habit of narrating everyday chores. If you're washing clothes, for example, you can say, "Let's separate the colors, then measure out the detergent, put in the clothes, set the timer..."</p>
  <p>Your child may not seem to be paying attention, but she is absorbing your vocabulary and sentence structure without even realizing it. Don't be surprised if you hear her repeating something you said when she talks to someone else.</p>


  <strong>Ask open-ended questions. </strong>
  <p>If you ask your child a broad question such as "What did you do at the park?" you'll get a much more detailed answer than if you ask a yes or no question like "Did you have fun at the park?"</p>
  <p>If she's slow to answer, then be more specific: "What equipment did you play on?" Give your child a chance to describe what she's been up to, and listen enthusiastically even if she gets lost in seemingly trivial details about her day at the park. All of it is important to her.</p>
  <p>And you might as well enjoy the conversation while it lasts: Soon enough you may have a close-mouthed teenager sitting across the dinner table from you!</p>


  <strong>Record her singing a song or telling a story. </strong>
  <p>Your child will love to hear her own voice, and she'll be surprised and fascinated by how she sounds to other people. Hold on to those recordings—years from now you'll be glad to have an oral portrait of your child at this age.</p>

  <strong>Revisit a favorite old story. </strong>
  <p>Bring out one of your child's most dog-eared, battered books and read it aloud yet again, only this time pause at key points to let her supply the words that come next. Or read the story and purposely change key details to see if she corrects your "errors."</p>


  <h3>For visual learners</h3>
  <strong>Videotape your child looking at a book or telling a story. </strong>
  <p>To make this even more fun, have her dress up as a character and act out a scene. Play the video back and watch it together. Ask her to talk about her performance, and praise her speaking ability.</p>
  <p>Don't make a big deal out of any mispronunciations. The idea is to get your child comfortable speaking in front of others, not prepare her for public office.</p>


  <strong>Ask your child to describe a TV show. </strong>
  <p>Children love to talk about things they know something about and enjoy. One of the easiest ways to get a conversation started is to ask your child what's happening on her favorite television program. Shows such as Sesame Street and Arthur are designed to get parents involved.</p>
  <p>This activity not only builds speaking skills but encourages your child to think of herself as a real reader even if she can't recognize a word. Two to try: Peggy Rathmann's Good Night, Gorilla and Jerry Pinkney's The Lion & the Mouse.</p>
  <hr>


  <h3>For physical learners</h3>
  <strong>Go on a nature walk. </strong>
  <p>Bring along a box or jar so you can collect treasures (feathers, unusual rocks, colorful leaves). When you get home, have your child describe each item to the family: its color, shape, size, function, and where she found it. Or have her begin a nature scrapbook.</p>
  <p>Get more great ideas on how to make a nature walk a blast for you and your child.</p>

  <strong>Play family story time.</strong>
  <p>One person starts making up a story ("Once upon a time, there was a little dragon who lived in a cave on a big hill"). Then another person continues the story, and so on.</p>
  <p>Let your child chime in whenever she wants, and if she can't come up with a whole line herself, prompt her with questions: What color was the dragon? Did he have any brothers and sisters? What was he learning about at school? Write down or record what each person says.</p>


  <strong>Ask your child to tell you a simple story, and write it down. </strong>
  <p>You can prompt her by asking about a particular event such as a party or playdate.</p>
  <p>If she leaves out key details or says something you don't understand, ask her to clarify. When she describes something to you, rephrase it a bit and say it back to her. ("So, you and Sarah were at a very fancy tea party thrown by a princess?") This will help her think about different ways to describe the same event.</p>
  <p>Ask her to draw pictures to go along with the story, and use them to make a book. Periodically, you can pull out the book and have her tell you the story again.</p>


  <hr>
</div>
