<div class="container">
  <h1>Age-by-age guide to feeding your toddler.</h1>

  <p>Your child may actually seem to eat less than before, and that's perfectly normal at this stage. If you wonder whether your child is getting enough calories, follow this guideline: The American Academy of Pediatrics recommends that children get about 40 calories a day for every inch of height.</p>
  <hr>
  <h2>Age: 12 to 24 months</h2>
  <strong>Developmental milestones</strong>
  <li>Can use a spoon (though proficiency will take a while!)</li>
  <strong>What to feed</strong>
  <li>Whole milk</li>
  <li>Other dairy products (soft pasteurized cheese, full-fat yogurt and cottage cheese)</li>
  <li>Iron-fortified cereals (oats, barley, wheat, mixed cereals)</li>
  <li>Other grains (whole wheat bread, pasta, rice)</li>
  <li>Fruits (melon, papaya, apricot, grapefruit)</li>
  <li>Vegetables (broccoli and cauliflower "trees," cooked until soft)</li>
  <li>Protein (eggs, beans, thinly spread peanut butter, small pieces of meat, poultry, boneless fish, or tofu)</li>
  <li>Juice (100 percent juice, citrus and noncitrus)</li>
  <li>Honey</li>

  <strong>How much per day</strong>
  <li>1 to 1 1/2 cups milk, or 1 cup yogurt, or 1 to 1 1/2 ounces cheese</li>
  <li>3 ounces grains, at least half whole grains (1 ounce = 1 cup cold cereal, 1/2 cup pasta or rice, one slice of bread)</li>
  <li>1 cup fruit (fresh, frozen, or canned. Cut fresh fruits into very small pieces.)</li>
  <li>100 percent fruit juice (4 to 6 ounces per day)</li>
  <li>1 cup vegetables (a variety cut in small pieces and cooked well)</li>
  <li>2 ounces protein (1 ounce = one slice of sandwich meat, about 1/3 of a chicken breast, 1/4 can of tuna, 1/4 cup cooked dry beans, or one egg)</li>



  <strong>Feeding tips</strong>
  <li>Experts used to say you shouldn't give a young child eggs, fish, or peanut products because the child might develop a food allergy. But the latest research from the American Academy of Pediatrics found no evidence to support this claim. Talk to your child's doctor if you have a family history of food allergies.</li>
  <li>Choking is still a danger. Learn more about which foods pose the greatest hazard.</li>
  <hr>


  <h2>Age: 24 to 34 months</h2>

  <strong>Developmental milestones</strong>
  <li>Self-feeding</li>
  <li>Eagerness to make own food choices</li>

  <strong>What to feed</strong>
  <li>Low-fat milk (It's okay to switch to low-fat or nonfat milk once your child is older than 2, but check with your child's doctor if you have questions.)</li>
  <li>Other dairy products (diced or grated cheese, low-fat yogurt, cottage cheese, pudding)</li>
  <li>Iron-fortified cereals (oats, barley, wheat, mixed cereals)</li>
  <li>Other grains (whole wheat bread and crackers, bagel pieces, pretzels, ready-to-eat cereal, pasta, rice)</li>
  <li>Fruits (sliced fresh or canned)</li>
  <li>Dried fruit, soaked until soft to prevent choking (apples, apricots, peaches, pears, dates, pitted prunes)</li>
  <li>Vegetables (a variety cut in small pieces and cooked well)</li>
  <li>Protein (eggs, beans, thinly spread peanut butter, small pieces of meat, poultry, boneless fish, or tofu)</li>
  <li>Combo foods like macaroni and cheese, casseroles</li>
  <li>100 percent fruit and vegetable juices (4 to 6 ounces)</li>


  <strong>How much per day</strong>
  <li>1 to 1 1/2 cups milk, or 1 cup yogurt, or 1 to 1 1/2 ounces cheese</li>
  <li>3 ounces grains, at least half whole grains (1 ounce = one slice of bread, 1 cup ready-to-eat cereal, or 1/2 cup of cooked rice, cooked whole wheat pasta, or cooked oatmeal)</li>
  <li>1 cup fruit (fresh, frozen, canned, or dried. Cut fresh fruits into very small pieces.)</li>
  <li>100 percent fruit juice (4 to 6 ounces)</li>
  <li>1 cup vegetables (a variety cut in small pieces and cooked well)</li>
  <li>2 ounces protein (1 ounce = 1/4 cup cooked dry beans or peas, one egg, 1 ounce of meat, poultry, or fish)</li>



  <strong>Feeding tips</strong>
  <li>Experts used to say you shouldn't give a young child eggs, fish, or peanut products because the child might develop a food allergy. But the latest research from the American Academy of Pediatrics found no evidence to support this claim. Talk to your child's doctor if you have a family history of food allergies.</li>
  <li>At this age, children can have strong opinions about food. Let your child have a say in what to eat, while you provide the balance, boundaries, and encouragement to make healthy choices.</li>
  <li>Choking is still a danger. Learn more about which foods pose the greatest hazard.</li>
  <hr>


  <h3>What if we're vegetarians?</h3>
  <p>If you're a vegan or vegetarian, you can still provide your infant or toddler with everything she needs. The Academy of Nutrition and Dietetics and American Academy of Pediatrics agree that well-planned vegetarian and vegan diets are fine for infants and toddlers. Just pay attention to make sure your child gets plenty of the following nutrients:</p>
  <li><strong>Vitamin B12: </strong>Vegetarians can get this nutrient from milk products and eggs. Vegans can use fortified soy beverages, cereals, and meat substitutes.</li>
  <li><strong>Vitamin D: </strong>Breastfed babies should get an additional 400 IU per day from fortified cow's milk or soy milk.</li>
  <li><strong>Calcium: </strong>Vegan babies may need calcium-fortified foods, beverages, or supplements. Check with your doctor or a dietitian.</li>
  <li><strong>Zinc: </strong>This important nutrient helps the immune system and can be found in beans, fortified cereal, milk, and wheat germ.</li>
  <li><strong>Iron: </strong>You can find this mineral in iron-fortified cereal or supplements. Serve with foods high in vitamin C – like oranges, tomatoes, and strawberries – to improve iron absorption.</li>
  <li><strong>Protein: </strong>Vegetarians can get added protein from yogurt and eggs. Vegans can get plant proteins from beans, cereals, and fortified soy milk.</li>
  <li><strong>Fiber: </strong>Good sources of fiber include whole grain breads, fortified cereals and pastas, and high-fat plant foods like sunflower butter and avocados.</li>
  <hr>


</div>
