
 @import "bootstrap-sprockets";
 @import "bootstrap";
 /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.headpic {
  background-image: url('babycare.png');
  background-size: cover;
  width: 100%;
  height: 180px;
  border: 2px solid black;

}
body {
  background-image: url('bgBoo.jpg');
  background-color: midnightblue;
  // background-position: center;
  // background-size: contain;
  // background-attachment:fixed;
  background-repeat: repeat;
  // padding-top: 70px;
  // padding-bottom: 40px;
  color: black;

  // background: blue; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(blue, lightblue, blue); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(blue, lightblue, blue); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(blue, lightblue, blue); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(blue, lightblue, blue); /* Standard syntax */
}
p {
  font-size: 20px;
  font-family: 'Kurale', serif;
}
h1, h2, h3, h4,{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.logo {
background-color: lightgrey;
border-radius: 20px;
width: 60px;
height: 60px;
}
// section {
//
//   margin-top: 90px;
// }
//
// .featurette-divider {
//   height: 20px;
//   background: url(star.png) repeat center;
//   border: none;
// }


img{
  border: 2px double teal;
  // background-color: white;
}
.link-img{
  background: white;
  border-radius: 50%;
  transition: background 2s, transform 2s;
}
.link-img:hover{
  border-radius: 50%;
  transform: rotate(360deg);
}


.col-lg-5 {
  box-shadow: 2px 0 2px black;
  background-color: lightblue;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  width: 45%;
  margin:25px;

}
.front {
  background-color: #7FFFD4;
  border-radius: 100px;
  padding: 5px;
  margin-left: 100px;
  height: 210px;
  width: 35%;
  transition: background 2s, transform 2s;
}
.front:hover {
  background: #c18ff0;

}

// .col-lg-5 {
//   background-image: url('linkmenu.png');
//   background-size: contain;
//   // border-bottom: 5px double blue;
//   border-radius: 20px;
//   margin: 5%;
//   width: 300px;
//   height: 300px;
//   padding: 30px;
//   box-shadow: 1px 4px 8px darkred, inset 1px 1px 1px orange;
// }

/*  BUTTON
---------------------------------------------*/
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


button {
  color: #19667d;
  background: 	#66CDAA;
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  text-decoration: none;
}
button:hover, button:focus, button:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


// // button {
// //
// //     color: #19667d;
// //     background: #70c9e3;
// //     display: inline-block;
// //     position: relative;
// //     margin: 10px;
// //     padding: 0 20px;
// //     text-align: center;
// //     text-decoration: none;
// //     font: bold 25px Arial, sans-serif;
// //
// //     text-shadow: 1px 1px 1px rgba(255,255,255, .22);
// //
// //     -webkit-border-radius: 30px;
// //     -moz-border-radius: 30px;
// //     border-radius: 30px;
// //
// //     -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
// //     -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
// //     box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
// //
// //     -webkit-transition: all 0.15s ease;
// //     -moz-transition: all 0.15s ease;
// //     -ms-transition: all 0.15s ease;
// //     transition: all 0.15s ease;
// // }
//
// /* Recipe page/ Blog page
// -------------------------------------------------- */
//
// .show-page {
//   background-color: lightgreen;
//   border-radius: 10px;
//   border: 10px solid transparent;
//    padding: 15px;
//    -webkit-border-image: url('border.png') 20% round; /* Safari 3.1-5 */
//    border-image: url('border.png') 20% round;
// }
//
// .comment-show{
//   border: 10px solid transparent;
//     padding: 15px;
//     -webkit-border-image: url('border.png') 30 stretch; /* Safari 3.1-5 */
//     border-image: url('border.png') 30 stretch;
//
// }
// .write-comment{
//   border: 10px solid transparent;
//     padding: 15px;
//     -webkit-border-image: url('border.png') 30 stretch; /* Safari 3.1-5 */
//     border-image: url('border.png') 30 stretch;
// }
//
// .field {
//   width: 400px;
// }
//
//
/* Shopping page
-------------------------------------------------- */
.shopping-img {
  margin-left: 350px;
}
/* Social buttons
-------------------------------------------------- */
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}

// /* CUSTOMIZE THE NAVBAR
// -------------------------------------------------- */
// /* Special class on .container surrounding .navbar, used for positioning it into place. */
// nav{
//   margin-top: 1px;
//   font-size: 30px;
// }
//
// .navbar-wrapper {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: 20;
// }
//
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.container {
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0, 5);
    -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 5);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 5);
    background-color: #e6ffe6;
    border-radius: 20px;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    border: 30px solid transparent;
    // border-image: url('border.png') 10% round;
    border-color: #deaeea;
}
.active {
font-size: 20px;
}
.active:hover {
  color: lightblue;
}
//
// nav.navbar.navbar-inverse.navbar-static-top {
//   border: 5px solid darkblue;
//   background-image: url('background2.jpg');
//   box-shadow: 4px 4px 15px darkblue;
//   margin-right: 20px;
//   margin-left: 20px;
//   border-radius: 20px;
//
// }
//
//
// /* CUSTOMIZE THE CAROUSEL
// -------------------------------------------------- */
//
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  margin-top: 1px;
  margin-left: 1px;
  height: 500px;
  background-color: blue;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  opacity: 8%;
}
.carouselPara{
  font-size: 35px;
  font-weight: bolder;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

}
.link-menu {
  background-image: url('linkmenuback.jpg');
  background-size: cover;
  border-radius: 20px;

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
// .marketing .col-lg-5 {
//   margin-bottom: 20px;
//   text-align: center;
// }
// .marketing h2 {
//   font-weight: normal;
// }
// .marketing .col-lg-5 p {
//   margin-right: 10px;
//   margin-left: 10px;
// }


// /* Featurettes
// ------------------------- */
//
// .featurette-divider {
//   margin: 80px 0; /* Space out the Bootstrap <hr> more */
// }
//
// /* Thin out the marketing headings */
// .featurette-heading {
//   font-weight: 300;
//   line-height: 1;
//   letter-spacing: -1px;
// }
//
//
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }


/* navbar */
.navbar-default {
    background-color: pink;
    border-color: red;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border-left: 1px solid red;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: yellow;
}


/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

  /* Bump up size of carousel content */
  // .carousel-caption p {
  //   margin-bottom: 20px;
  //   font-size: 21px;
  //   line-height: 1.4;
  // }

  // .featurette-heading {
  //   font-size: 50px;
  // }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

// /* FOOTER
// -----------------------------------*/
// .footer {
//   font-weight: bold;
//   height: 170px;
//   width: 90%;
//   padding: 20px;
//   margin-left: 70px;
//   border-radius: 20px;
// }
// .share {
//   margin: 10px;
//   border-bottom: 1px ridge grey;
// }
